header {
    margin: auto;
    text-align: center;
}

.log-section {
    width: 80%;
    margin: 30px auto 0 auto;
}

label {
    font-size: 17px;
    font-family: 'Amiko', sans-serif;
    font-weight: 900;
}

input[type=text] {
    background: #bcaaa4;
    border: 1px solid #bcaaa4;
    color: #292C2F;
    box-shadow: 1px 1px 0 #828181 inset;
    font-size: 15px;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #4e342e;
}

.btn-operation, .btn-operation:hover {
    background: #6d4c41;
    border: 1px solid #6d4c41;
}
