header {
    margin: auto;
    text-align: center;
}

.section {
}

.log-section {
    width: 80%;
    margin: 40px auto 0 auto;
}

label {
    font-size: 18px;
    font-family: 'Amiko', sans-serif;
    font-weight: bolder;
}

/*
.input-section {
    border-bottom: 1px solid #5D4037;
    margin-bottom: 15px;
}


.add-log-button {
    margin: 20px auto;
}

.font-button:hover {
    cursor: pointer;
}
*/
